In [1]:
import names
import pandas as pd
import urllib.request
import random

In [2]:
#Create random name and last names
word_url = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"
response = urllib.request.urlopen(word_url)
long_txt = response.read().decode()
words = long_txt.splitlines()

upper_words = [word for word in words if word[0].isupper()]
name_words  = [word for word in upper_words if not word.isupper()]
one_name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])


def rand_name():
   name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])
   return name

random_name=[]
for n in range(100):
    name = rand_name()
    random_name.append(name)
    #print(name)
#random_name
sr = pd.Series(random_name)
sr

0            Goff Houdini
1            Leander Mach
2        Greenberg Punjab
3             Indira Nora
4            Arachne Urdu
5           Moghul Banach
6                 CZ Oman
7           Magog Grecian
8       Julia Switzerland
9            Boyd Cecilia
10    Argentina Dougherty
11            Dalzell Lou
12        Hershey Brigham
13              DC Benton
14         Jessica Malone
15          McCarty Kirov
16     Bangladesh Cargill
17       Scala Barrington
18       Gonzales Kieffer
19        Gavin Fallopian
20                 PBS TX
21          Ajax Daedalus
22          Milton Elinor
23        Gothic Laguerre
24           Claude Vella
25       Polyphemus Vogel
26        Lancelot Nevins
27          Pete Lancelot
28          Ernie Erskine
29               Muzo Del
             ...
70            Blvd Jesuit
71           Cohen Madras
72           McGovern AAA
73             Arabic Rex
74       Lennox Euripides
75          Thomistic R&D
76    Pittsfield Edmonton
77          McBride Walsh
78    Selfridge Dougherty
79          Carmela Fermi
80          Tristan Teddy
81      Desmond Pavlovian
82              Hera Todd
83     Cochran Capistrano
84         Nellie Marceau
85           Davy Olympic
86           Arlen Gambia
87        Beograd Laurent
88          Bermuda Jacky
89          Lebesgue Kerr
90       Volterra Barrett
91        Wyner Pavlovian
92         Faustus Noreen
93           Claus Annale
94     Athenian Capricorn
95            Arden Bayda
96           Newman Daley
97       Melissa Fernando
98             Moser Bert
99       Hebraic Erickson
Length: 100, dtype: object

In [3]:
# Create random ages
# random numbers and 
# append them to a list 
import random 
  
# Function to generate 
# and append them  
# start = starting range, 
# end = ending range 
# num = number of  
# elements needs to be appended 
def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
  
# Driver Code 
num = 100
start = 20
end = 65
random_age=(Rand(start, end, num)) 
#random_age
sa = pd.Series(random_age)
sa

0     20
1     51
2     39
3     40
4     45
5     57
6     50
7     48
8     34
9     59
10    41
11    59
12    45
13    55
14    35
15    26
16    20
17    49
18    47
19    24
20    62
21    29
22    55
23    57
24    41
25    64
26    64
27    31
28    50
29    54
      ..
70    24
71    34
72    44
73    40
74    28
75    53
76    47
77    38
78    28
79    31
80    52
81    65
82    62
83    22
84    54
85    31
86    59
87    28
88    49
89    28
90    56
91    23
92    56
93    47
94    58
95    29
96    65
97    52
98    64
99    35
Length: 100, dtype: int64

In [4]:
#Create random house prices 
# random numbers and 
# append them to a list 
import random 
  
# Function to generate 
# and append them  
# start = starting range, 
# end = ending range 
# num = number of  
# elements needs to be appended 
def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
  
# Driver Code 
num = 100
start = 50000
end = 800000
random_price=(Rand(start, end, num)) 
#random_price
pr = pd.Series(random_price)
pr

0     479959
1     636977
2     620455
3     709202
4     250291
5     717257
6     309100
7     572899
8      80482
9     673110
10    706292
11    313613
12    788664
13    546576
14    674460
15    366015
16    763111
17    707895
18    660773
19    694563
20    278958
21    135170
22    234728
23    726908
24     59765
25    286060
26    667703
27    484732
28    343830
29    531705
       ...
70    196817
71    789130
72    121155
73    443069
74    101623
75    293398
76    534551
77    323733
78    695823
79    624951
80    459555
81    554361
82    637016
83    446413
84    757459
85    297455
86    636217
87    403609
88    218139
89    588042
90    353887
91    678739
92    781996
93    104274
94    303367
95    666923
96    532195
97    614368
98    195002
99    374762
Length: 100, dtype: int64

In [5]:
from datetime import datetime
import random
import numpy as np
import pandas as pd

N = 100 #N-samples
dates = np.zeros([N,3])

for i in range(0,N):
    year = random.randint(2019, 2019) 
    month = random.randint(1, 6)
    day = random.randint(1, 28)
    #if you need to change it use variables :3
    purchase_date = datetime(year, month, day)
    dates[i] = [year,month,day]

df = pd.DataFrame(dates.astype(int))
df.columns = ['year', 'month', 'day']
purchase_date_list=pd.to_datetime(df)
purchase_date_list

0    2019-01-05
1    2019-02-17
2    2019-04-23
3    2019-02-15
4    2019-03-23
5    2019-04-21
6    2019-04-08
7    2019-03-06
8    2019-06-11
9    2019-02-11
10   2019-04-21
11   2019-06-25
12   2019-04-08
13   2019-01-27
14   2019-02-17
15   2019-04-13
16   2019-04-11
17   2019-05-05
18   2019-05-21
19   2019-03-21
20   2019-01-25
21   2019-05-21
22   2019-05-06
23   2019-05-11
24   2019-02-25
25   2019-04-12
26   2019-01-02
27   2019-05-26
28   2019-01-20
29   2019-04-27
        ...
70   2019-06-01
71   2019-03-15
72   2019-02-06
73   2019-05-19
74   2019-02-04
75   2019-02-17
76   2019-01-04
77   2019-04-14
78   2019-03-03
79   2019-02-23
80   2019-03-28
81   2019-03-18
82   2019-01-22
83   2019-01-25
84   2019-05-27
85   2019-02-10
86   2019-02-18
87   2019-04-05
88   2019-02-01
89   2019-01-13
90   2019-04-08
91   2019-03-19
92   2019-03-12
93   2019-05-03
94   2019-03-01
95   2019-04-18
96   2019-05-13
97   2019-02-04
98   2019-02-19
99   2019-05-11
Length: 100, dtype: datetime64[ns]

In [6]:
#Create random Agent names
word_url = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"
response = urllib.request.urlopen(word_url)
long_txt = response.read().decode()
words = long_txt.splitlines()

upper_words = [word for word in words if word[0].isupper()]
name_words  = [word for word in upper_words if not word.isupper()]
one_name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])


def rand_name():
   name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])
   return name

random_name=[]
for n in range(100):
    name = rand_name()
    random_name.append(name)
    #print(name)
#random_name
an = pd.Series(random_name)
an

0          Sharon Nagasaki
1          Martian Wendell
2          Huggins Toshiba
3             Osgood Boone
4          Gannett Scorpio
5             Bayonne Lana
6       Maximilian Desmond
7        Berlitz Francisco
8              Ernst Susan
9             Seoul Turing
10         Babylon Algiers
11          Ada McAllister
12     Euphrates Vancouver
13           Hiatt Willard
14            Lund Tzeltal
15           Clemson Ghana
16           Angola Robert
17          Stanhope Pabst
18            Sparta Holst
19               Marc Hyde
20    Telex Fredericksburg
21          Hershey Slavic
22           Leona Seymour
23            PhD Reynolds
24            Allis Teresa
25      Heisenberg Heckman
26           Edgerton Mont
27       Crandall Buchanan
28               Po Steven
29      Djakarta Byzantium
              ...
70        Kennan Arlington
71        Aztecan Whittier
72         Merriam Jupiter
73         Dobbs Armstrong
74          Wilcox Mildred
75         Haynes Pickford
76        Seymour Botswana
77        Salisbury Murray
78            Corvus Saxon
79                Chad Inc
80      Wellesley Jeremiah
81          Denebola Dubhe
82            Pepsi Vernon
83         Chelsea Faraday
84             Hom Estella
85             USC&GS Kent
86             Howe McGill
87             Fisk Jutish
88        Kensington Lucia
89            Chadwick AAA
90               Lahore TX
91         Sandia Brussels
92     Newtonian Bujumbura
93             Martha Mimi
94         Athens Moroccan
95       Studebaker Pomona
96           Rabin Midwest
97              Switzer UK
98        Ontario Mackinac
99         Menlo Kalamazoo
Length: 100, dtype: object

In [7]:
buyers_list=pd.DataFrame({'Name':sr,'Age':sa,'Price':pr,'Date':purchase_date_list, 'Agent':an})
buyers_list.head(10)

                Name  Age   Price       Date               Agent
0       Goff Houdini   20  479959 2019-01-05     Sharon Nagasaki
1       Leander Mach   51  636977 2019-02-17     Martian Wendell
2   Greenberg Punjab   39  620455 2019-04-23     Huggins Toshiba
3        Indira Nora   40  709202 2019-02-15        Osgood Boone
4       Arachne Urdu   45  250291 2019-03-23     Gannett Scorpio
5      Moghul Banach   57  717257 2019-04-21        Bayonne Lana
6            CZ Oman   50  309100 2019-04-08  Maximilian Desmond
7      Magog Grecian   48  572899 2019-03-06   Berlitz Francisco
8  Julia Switzerland   34   80482 2019-06-11         Ernst Susan
9       Boyd Cecilia   59  673110 2019-02-11        Seoul Turing

In [8]:
buyers_list.to_csv('buyers_list.csv')

In [10]:
from barnum import gen_data

In [12]:
#Generate name
random_customer=[]
for n in range(30):
    nam = gen_data.create_name()
    random_customer.append(nam)
    #print(name)
#random_customer

# columns
columns_new = ['Name', 'Last name']

# pass in array and columns
customer_list=pd.DataFrame(random_customer, columns=columns_new)
customer_list.head()

#Convert df into series so we can create at the end 1 consolidated df
series_name = pd.Series(customer_list['Name'], index=customer_list.index)
series_last_name = pd.Series(customer_list['Last name'], index=customer_list.index)
series_last_name

0          Alaniz
1          Andrew
2          Gaskin
3       Mcpherson
4          Zimmer
5        Lombardo
6         Cornejo
7           Nance
8        Thrasher
9            Dion
10        Cornejo
11      Broderick
12           Dyer
13          Mcvey
14           Cady
15           Ness
16           Monk
17           Peck
18     Bustamante
19         Fulton
20        Corbett
21          Nolan
22         Custer
23          Wiles
24        Linkous
25         Faison
26        Samples
27          Ashby
28         Lowery
29    Christensen
Name: Last name, dtype: object

In [14]:
#Generate Zip Code, City and State
random_zc=[]
for n in range(30):
    zcode =gen_data.create_city_state_zip()
    random_zc.append(zcode)
    #print(name)
#random_zc

# columns
columns_new = ['zc', 'City','State']

# pass in array and columns
customer_city=pd.DataFrame(random_zc, columns=columns_new)
customer_city.head()

#Convert df into series so we can create at the end 1 consolidated df
series_zc = pd.Series(customer_city['zc'], index=customer_city.index)
series_city = pd.Series(customer_city['City'], index=customer_city.index)
series_state = pd.Series(customer_city['State'], index=customer_city.index)
series_zc

0     62263
1     92530
2     78741
3     17742
4     11386
5     94280
6     46056
7     95950
8     12817
9     49707
10    34208
11    95120
12    52731
13    75792
14    13643
15    68766
16    75313
17    16692
18    93720
19    52161
20    01452
21    74159
22    69027
23    37079
24    85325
25    28438
26    14231
27    95322
28    78130
29    29928
Name: zc, dtype: object

In [16]:
#Generate email
random_email=[]
for n in range(30):
    email =gen_data.create_email()
    random_email.append(email)
    #print(name)
random_email

# columns
columns_new = ['email']

# pass in array and columns
customer_email=pd.DataFrame(random_email, columns=columns_new)
customer_email.head()

#Convert df into series so we can create at the end 1 consolidated df
series_email = pd.Series(customer_email['email'], index=customer_email.index)
series_email

0          J.Gilchrist@minimveniamquis.us
1          Sammie.Sawyer@delenitdolore.eu
2                Rufus.Cothran@exnulla.tv
3           Armando.Pinson@nulladolore.tv
4            Tasha.Teague@autemnostrud.tv
5     Raquel.Echevarria@ipsummolestie.org
6       Virgie.Chan@volutpathendrerit.gov
7      T.Underwood@consequatveleuismod.tv
8                        G.Gage@erosut.eu
9             Y.Thornhill@consequatte.net
10                   Jess.Funk@quiwisi.us
11                     S.Fender@nibhad.us
12              Nanette.Wiley@adnulla.edu
13                     Kaye@feugaitte.com
14                    Alva@molestieet.edu
15      Rosalia.Vallejo@commododolore.gov
16           Hugh.Chism@essevulputate.gov
17                  S.Dye@autemblandit.us
18        Andria.Mullis@zzriltincidunt.tv
19                 M.Packer@feugaiteu.edu
20                 Bernie@molestieex.info
21      A.Sepulveda@veniamdelenitaugue.eu
22            Bess.Mosby@facilisivero.org
23                   N.Hare@doloreea.info
24      Brendon.Boyd@lobortisaccumsan.gov
25                   Lara@feugiatdiam.com
26                   R.Biddle@nullaex.org
27              Dolores@erathendrerit.gov
28       Thomas.Walter@ullamcorperqui.org
29            S.Dibble@laoreeteuismod.com
Name: email, dtype: object

In [17]:
#Generate phone number
random_phone=[]
for n in range(30):
    email =gen_data.create_phone()
    random_phone.append(email)
    #print(name)
random_phone

# columns
columns_new = ['Phone']

# pass in array and columns
customer_phone=pd.DataFrame(random_phone, columns=columns_new)
customer_phone.head()

#Convert df into series so we can create at the end 1 consolidated df
series_phone = pd.Series(customer_phone['Phone'], index=customer_phone.index)
series_phone

0     (865)920-8423
1     (304)230-4784
2     (530)121-5744
3     (312)374-7935
4     (605)747-9705
5     (516)584-1674
6     (585)996-4211
7     (660)380-8100
8     (918)625-8745
9     (919)485-1702
10    (667)195-8410
11    (862)450-3842
12    (802)263-1751
13    (504)941-4609
14    (636)575-8129
15    (859)846-7178
16    (509)798-4106
17    (304)396-2473
18    (405)313-8059
19    (301)883-1648
20    (631)791-7891
21    (937)218-9792
22    (612)323-7289
23    (503)158-3563
24    (217)851-4791
25    (312)140-3427
26    (708)966-8993
27    (904)627-6627
28    (507)208-5788
29    (870)208-4582
Name: Phone, dtype: object

In [18]:
#Generate Company
random_company=[]
for n in range(30):
    company =gen_data.create_company_name()
    random_company.append(company)
    #print(name)
random_company

# columns
columns_new = ['Company']

# pass in array and columns
customer_company=pd.DataFrame(random_company, columns=columns_new)
customer_company.head()

#Convert df into series so we can create at the end 1 consolidated df
series_company = pd.Series(customer_company['Company'], index=customer_company.index)
series_company

0                  Industries Vision Bell
1                 Solutions Bell Analysis
2             Universal Hardware Graphics
3                 General Contract Vision
4                    Data Alpha Solutions
5                 Venture Bell Consulting
6                  Solutions Network Star
7     Adventure Construction Architecture
8                            General Star
9                  Industries Studio East
10                Atlantic Telecom Galaxy
11          Architecture Federated Future
12                 Virtual Galaxy Digital
13                          Solutions Net
14                   Vision Hardware East
15                     Speed Vision North
16                 Pacific Building North
17                            Future Data
18                Hill Omega Construction
19                     Universal Building
20                      Venture Universal
21                            Systems Net
22               Industries Omega Digital
23         Federated Application Atlantic
24                     Systems Innovation
25                     Telecom Alpha Star
26           Research Industries Resource
27                     Adventure Research
28                Technology Architecture
29          Interactive Technology Direct
Name: Company, dtype: object

In [19]:
#Generate job title
random_title=[]
for n in range(30):
    title = gen_data.create_job_title()
    random_title.append(title)
    #print(name)
random_title

# columns
columns_new = ['Job']

# pass in array and columns
customer_job=pd.DataFrame(random_title, columns=columns_new)
customer_job.head()

#Convert df into series so we can create at the end 1 consolidated df
series_title = pd.Series(customer_job['Job'], index=customer_job.index)
series_title

0                        Supervisor Nursing Shift
1                   Laborer Concrete Mixing Plant
2                              Operations Manager
3                             Manager Bookkeeping
4     Insurance Customer Service Representative 2
5                   Financial Analysis Supervisor
6                                     Stonecutter
7                                    Manager Risk
8                                   Media Manager
9                         Loan Officer Commercial
10                                 Drafter Design
11                Carpenter (General/Maintenance)
12                             Supervisor Account
13                           Head of Housekeeping
14                                 Fiction Writer
15                            Assembler 1 Product
16                                Mechanic Diesel
17                     Hardware Engineer Computer
18                          Engineer Agricultural
19                     Telecommunications Analyst
20                                         Redcap
21               Computer Data Control Supervisor
22                  Barber or Beauty Shop Manager
23                                Sales Estimator
24                           Medical Technologist
25                                Assistant Sales
26                  Medical Services Chiropractor
27                               Manager Benefits
28                            Fashion Illustrator
29                                  Buyer Grocery
Name: Job, dtype: object

In [21]:
from datetime import datetime
import random
import numpy as np
import pandas as pd

N = 30 #N-samples
dates = np.zeros([N,3])

for i in range(0,N):
    year = random.randint(2019, 2019) 
    month = random.randint(4, 6)
    day = random.randint(1, 28)
    #if you need to change it use variables :3
    purchase_date = datetime(year, month, day)
    dates[i] = [year,month,day]

df = pd.DataFrame(dates.astype(int))
df.columns = ['year', 'month', 'day']
purchase_date_list=pd.to_datetime(df)
purchase_date_list

0    2019-06-11
1    2019-06-03
2    2019-05-27
3    2019-04-14
4    2019-05-14
5    2019-04-05
6    2019-05-17
7    2019-06-22
8    2019-04-18
9    2019-05-27
10   2019-04-23
11   2019-04-25
12   2019-06-13
13   2019-06-10
14   2019-05-15
15   2019-06-13
16   2019-05-22
17   2019-06-28
18   2019-04-19
19   2019-06-03
20   2019-06-18
21   2019-04-23
22   2019-06-05
23   2019-05-11
24   2019-04-07
25   2019-04-10
26   2019-05-17
27   2019-04-16
28   2019-06-10
29   2019-04-06
dtype: datetime64[ns]

In [22]:
#Create random house prices 
# random numbers and 
# append them to a list 
import random 
  
# Function to generate 
# and append them  
# start = starting range, 
# end = ending range 
# num = number of  
# elements needs to be appended 
def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
  
# Driver Code 
num = 30
start = 50000
end = 800000
random_price=(Rand(start, end, num)) 
#random_price
budget = pd.Series(random_price)
budget

0     617173
1      56874
2     266277
3     482483
4     723578
5     518706
6     275131
7     384175
8     138456
9     239996
10    625141
11    682099
12    450832
13    210026
14    688258
15    392975
16    225665
17    647827
18    793932
19    123764
20    253290
21    530284
22    120900
23    185026
24    788035
25    644152
26    636323
27    509988
28    369799
29    454609
dtype: int64

In [28]:
#Create random Agent names
word_url = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"
response = urllib.request.urlopen(word_url)
long_txt = response.read().decode()
words = long_txt.splitlines()

upper_words = [word for word in words if word[0].isupper()]
name_words  = [word for word in upper_words if not word.isupper()]
one_name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])


def rand_name():
   name = ' '.join([upper_words[random.randint(0, len(upper_words))] for i in range(2)])
   return name

random_name=[]
for n in range(30):
    name = rand_name()
    random_name.append(name)
    #print(name)
#random_name
ag = pd.Series(random_name)
ag

0                LSI Gemma
1      Bridgetown Adrienne
2            Donovan Nixon
3     Shoshone Connecticut
4          Blackman Gurkha
5          Leopold Balfour
6        Glasgow Whittaker
7         Pershing Pollard
8              Erwin Effie
9       McKnight O'Donnell
10        Dahomey Sudanese
11         Elliott Iverson
12          Schulz Holcomb
13        Norwich Prescott
14        Moldavia Muscovy
15          Madrid Bahrein
16         Gaussian Bremen
17            Anita Hanlon
18    Fairchild Clearwater
19       Orwellian Lysenko
20      Adrienne Keynesian
21              Steen Kyle
22     Britannic Wellesley
23            Kajar Basque
24       Gregory Lancaster
25         Morse Chicagoan
26          Copeland Algol
27             Moser Pedro
28           IBM Blackfeet
29           Frances Fritz
dtype: object

In [25]:
pipeline_list=pd.DataFrame({'Name':series_name,'Last Name':series_last_name,
                            'Zip Code':series_zc,'City':series_city,'State':series_state, 
                            'email':series_email,'Phone Number':series_phone,'Company':series_company,
                            'Title':series_title,"Last Contact":purchase_date_list,'Budget':budget,'Agent':ag})
pipeline_list.head(10)

,Name,Last Name,Zip Code,City,State,email,Phone Number,Company,Title,Last Contact,Budget,Agent
0,Nathanael,Alaniz,62263,Nashville,IL,J.Gilchrist@minimveniamquis.us,(865)920-8423,Industries Vision Bell,Supervisor Nursing Shift,2019-06-11,617173,Shmuel USN
1,Christina,Andrew,92530,Lake Elsinore,CA,Sammie.Sawyer@delenitdolore.eu,(304)230-4784,Solutions Bell Analysis,Laborer Concrete Mixing Plant,2019-06-03,56874,Spiegel Bechtel
2,Gregory,Gaskin,78741,Austin,TX,Rufus.Cothran@exnulla.tv,(530)121-5744,Universal Hardware Graphics,Operations Manager,2019-05-27,266277,Galatia Collier
3,Hanna,Mcpherson,17742,Lairdsville,PA,Armando.Pinson@nulladolore.tv,(312)374-7935,General Contract Vision,Manager Bookkeeping,2019-04-14,482483,Missouri Majorca
4,Fannie,Zimmer,11386,Ridgewood,NY,Tasha.Teague@autemnostrud.tv,(605)747-9705,Data Alpha Solutions,Insurance Customer Service Representative 2,2019-05-14,723578,Hoboken Marcia
5,Bruce,Lombardo,94280,Sacramento,CA,Raquel.Echevarria@ipsummolestie.org,(516)584-1674,Venture Bell Consulting,Financial Analysis Supervisor,2019-04-05,518706,Saskatoon Hester
6,Leonardo,Cornejo,46056,Markleville,IN,Virgie.Chan@volutpathendrerit.gov,(585)996-4211,Solutions Network Star,Stonecutter,2019-05-17,275131,Foss Malay
7,Retha,Nance,95950,Grimes,CA,T.Underwood@consequatveleuismod.tv,(660)380-8100,Adventure Construction Architecture,Manager Risk,2019-06-22,384175,Shattuck Wooster
8,Dean,Thrasher,12817,Chestertown,NY,G.Gage@erosut.eu,(918)625-8745,General Star,Media Manager,2019-04-18,138456,Beethoven Vatican
9,Janelle,Dion,49707,Alpena,MI,Y.Thornhill@consequatte.net,(919)485-1702,Industries Studio East,Loan Officer Commercial,2019-05-27,239996,Sylvester Accra

In [26]:
pipeline_list.to_csv('pipeline_list.csv')